/* Body and HTML styling */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* Header styling */
header {
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 35px;
}

/* Content styling */
.content {
  margin: 100px auto;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 600px; /* Increased max-width for two columns */
}

h1 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping of elements */
  justify-content: space-between;
}

label {
  margin: 10px 0 5px;
  width: 100%;
  text-align: left;
}

.input-container {
  width: 48%; /* Adjusted width for two columns */
  margin-bottom: 20px;
}

input, textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Specific styling for textarea */
textarea {
  resize: vertical; /* Allow vertical resizing of textarea */
  min-height: 80px;
  width: 100%; /* Ensure textarea takes full width in its container */
}

/* Styling for file input */
input[type="file"] {
  padding: 3px;
}

/* Full-width elements */
.full-width {
  width: 100%;
}

/* Button styling */
button {
  padding: 10px 20px;
  background-color: #8B0000; 
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #5a0000;
}

/* Error message styling */
#error-message {
  margin-top: 10px;
}

/* Footer styling */
footer.section-dark-gray {
  background-color: #272932;
  height: 4vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}